* {
    margin: 0;
    padding: 0;
    font-family: 'Ribeye Marrow', cursive;
    overflow: hidden;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(252, 195, 204);
    z-index: 0;
}

.overflow-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden !important;
}

.invitation {
    z-index: 12;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: text 22s ease-in-out forwards;
}

.invitation > p {
    line-height: 30px;
    text-align: center;
}

@keyframes text {
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(10vh);
    }
}

.colored-liv {
    color:darkorange;
    font-family: 'Emilys Candy', cursive;
    font-size: 50px;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    animation: sky 10s ease-in forwards;
}

@keyframes sky {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vh);
    }
}

.background-air {
    z-index: 5;
    height: 30%;
    width: 100%;
    background: linear-gradient(rgb(252, 195, 204), orange);
}

.sun {
    z-index: 6;
    position: relative;
    top: 100%;
    transform: translateY(-60%);
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
    background-color: gold;
}

.background-ground {
    z-index: 7;
    height: 70%;
    width: 100%;
    background: linear-gradient(rgb(141, 191, 207), rgb(212, 238, 247));
}
svg {
    width: 100%;
}

#girl-with-baloons {
    z-index: 10;
    position: absolute;

    bottom: 0;
}

#girl {
    animation: sky 10s ease-in forwards;
}

#orange-baloon {
    z-index: 10;
    animation: orange-baloon 20s ease-in-out forwards;
}

#red-baloon {
    z-index: 10;
    animation: red-baloon 20s ease-in-out forwards, baloon-wiggle-two 15s alternate infinite;
}

#blue-baloon {
    z-index: 10;
    animation: blue-baloon 20s ease-in-out forwards;
}

#pink-green-baloon {
    z-index: 10;
    animation: pink-green-baloon 20s ease-in-out forwards, baloon-wiggle-three 15s alternate infinite;
}

#pink-baloon {
    z-index: 10;
    animation: pink-baloon 20s ease-in-out forwards, baloon-wiggle-one 15s alternate infinite;
}

@keyframes baloon-wiggle-one {
    0% {
        transform: rotateZ(0deg) scale(1.0);
    }
    50% {
        transform: rotateZ(30deg) scale(1.3);
    }
    100% {
        transform: rotateZ(-30deg) scale(1.o);
    }
}

@keyframes baloon-wiggle-two {
    0% {
        transform: rotateZ(0deg) scale(1.0);
    }
    50% {
        transform: rotateZ(-20deg) scale(1.3);
    }
    100% {
        transform: rotateZ(20deg) scale(1.o);
    }
}

@keyframes baloon-wiggle-three {
    0% {
        transform: rotateZ(0deg) scale(1.0);
    }
    50% {
        transform: rotateZ(10deg) scale(1.3);
    }
    100% {
        transform: rotateZ(-10deg) scale(1.o);
    }
}

@keyframes orange-baloon {
    0% {
        transform: translateY(0) translateX(0);
    }
    100% {
        transform: translateY(-100px) translateX(-500px);
    }
}
@keyframes red-baloon {
    0% {
        transform: translateY(0) translateX(0);
    }
    100% {
        transform: translateY(-50px) translateX(400px);
    }
}
@keyframes blue-baloon {
    0% {
        transform: translateY(0) translateX(0);
    }
    100% {
        transform: translateY(190px) translateX(-150px);
    }
}
@keyframes pink-green-baloon {
    0% {
        transform: translateY(0) translateX(0);
    }
    100% {
        transform: translateY(300px) translateX(150px);
    }
}

@keyframes pink-baloon {
    0% {
        transform: translateY(0) translateX(0);
    }
    100% {
        transform: translateY(100px) translateX(-500px);
    }
}

.cloud1, .cloud4 {
    z-index: 9;
    position: absolute;
    animation-delay: 5s;
    animation: cloudOne 35s linear infinite;
}

@keyframes cloudOne {
    0% {
        transform: translateY(0) scale(2.5);
    }
    100% {
        transform: translateY(200vh) scale(2.5);
    }
}

.cloud2, .cloud5 {
    z-index: 11;
    position: absolute;
    animation-delay: 5s;
    animation: cloudTwo 25s linear infinite;
}

@keyframes cloudTwo {
    0% {
        transform: translateY(0) scale(1.2);
    }
    100% {
        transform: translateY(180vh) scale(1.2);
    }
}

.cloud3, .cloud6 {
    z-index: 9;
    position: absolute;
    animation-delay: 5s;
    animation: cloudThree 20s linear infinite;
}

@keyframes cloudThree {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(180vh);
    }
}

@media only screen and (max-width: 700px) {
    .invitation > p {
        max-width: 30ch;
    }
    h1 {
        font-size: 20px;
    }
  }